:root{
    --teme-color2: #05071E;
    --teme-color4: #C6B36C;
    --teme2-color1: #cfa713; 
    --teme2-color2: #230e6a;
    --teme3-color1:#880606; 
    --teme3-color2:#d53d0c; 
    --teme3-color4: #231d1e;
    --teme3-color5: #fcfcfc; 
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.white-mode{
    color: var(--teme-color2);
    background-color: var(--teme2-color1);
}
.dark-mode{
    color: #eee;
    background-color: var(--main-black-color);
}

@font-face {
    font-family: 'Rosewind regular';
    src: url('font/Rosewind-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Milker';
    src: url('font/Milker.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
nav{
    margin: auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 200px;
    height: auto;
    border-radius: 0 0 10px 10px;
}
nav ul{
    text-align: center; 
}
nav h2{
    font-size: 1.5rem;
}
.aside-nav {
	width: 40px;
	background:var(--teme3-color4);
	position: fixed;
	top: 30vh;
	right: 20px;
    border-radius: 20px;
    mix-blend-mode: difference;
    text-align: center;
    display: grid;
    justify-content: center;
    button {
        margin-bottom: 25px;
        margin-top: 25px;
        mix-blend-mode: difference;
        border: none;
        background: none;
        color: var(--teme3-color5);
        position: relative;
        display: grid;
        justify-content: center;
      }
    a {
        color: var(--teme2-color1);
        text-decoration: none
      }
    i {
        display: flex;
        font-size: 20px;
        border: none;
        align-items: center;
        height: 30px;
        transition: font-size 0.2s ease-out;
      }
    section {
        background: var(--teme3-color1);
        position: absolute;
        right: 60px;
        top: 0;
        width: 120px;
        height: auto;
        padding: 10px 8px;
        font-family: 'Rosewind regular';
        white-space:nowrap;
      }

}
button:hover i:before,a.active i{
  font-size: 30px; 
  color: red;
  display: inline-block;
}
button:hover i:before,a.active i,button:hover .nav-label {
  margin: 0px; 
}
.nav-link:hover .nav-label {
    display: inline-block; 
    font-size: 30px; 
    color: red;
    margin: 0px; 
}
.nav-label {
    display: none; 
}
  
.nav-label.visible {
    display: inline-block; 
}

header{
    min-height: 600px;
    position: relative;
    flex-wrap: wrap;
}
h1{
    font-family: 'Milker';
    font-size: 5rem;
    line-height: 60px;
}
h2{
    font-family: 'Rosewind regular';
    font-size: 2rem;
    color: var(--teme3-color5);
}
h3{
    font-family: 'Rosewind regular';
    font-size: 2rem;
    line-height: 20px;
}
header .right-column{
    background-image: url("./img/Daniel_Velasquez-white-modexl.webp");
    mask-image: linear-gradient(
        black 80%,transparent
    );
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
    min-width: 300px;
    background-size: contain;
}
.experience{
    background: var(--teme-color2);
    text-align: center;
    padding: 100px 150px;
    position: relative;
    flex-wrap: wrap;
}
.center-column ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.center-column ul li{
    list-style-type: none;
    margin-top: 50px;
}
.center-column ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    height: 150px;
    padding: 15px;
    border: 1px solid var(--teme3-color5);
    mix-blend-mode: difference;
    color:var(--teme3-color5);
}
.exp time{
    font-size: 15px;
}
.exp p{
    font-family: 'Rosewind regular';
}
main{
    padding: 150px 0px;
    display: flex;
    justify-content: space-between;
    background: var(--teme-color4);
    position: relative;
    flex-wrap: wrap;
}
main-i{
    background: var(--teme2-color2);
}
.i-content{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}
.content{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    padding: 100px 150px;
}
.left-column{
    flex: 1;
    padding: 30px;
    position: relative;
    min-width: 250px;
    display: grid;
    align-content: center;
}
.left-column p {
    padding-top: 20px;
    color: var(--teme3-color5);
}
.i-left-column{
    flex:1;
    padding: 20px;
    position: relative;
}
.typing-text::before{
    content: 'Front-end';
    animation: words 20s infinite;
}
.typing-text::after{
    content: '';
    position: absolute;
    background: var(--teme2-color1);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid var(--teme3-color4);
    right: -8px;
    top: -6px;
    animation: cursor .6s infinite, typing 20s steps(14) infinite;
}
.social button{
	width: 150px;
	height: 30px;
	font-family: 'Rosewind regular';
	background: var(--teme3-color1);
	font-size: 20px;
    color: var(--teme3-color3);
    border: none;
    bottom: -50px;
    mix-blend-mode: difference;
}
.social{
    font-size: 30px;
    right: 180px;
    bottom: -50px;
    text-align: center;
    margin-top: -100px;
    color: var(--teme3-color2);
    padding-bottom: 20px;
}
.social i{
    margin-right: 30px;
}
.proyects-column{
    flex:2;
    display: flex;
    position: relative;
    min-width: 250px;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}
.right-column{
    flex:2;
    padding: 20px;
    text-align: center;
    min-width: 250px;
    align-content: center;
    display: grid;
}
.card{
    width: 14rem;
    height: 16rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: var(--teme3-color4);
    margin: 5px;

    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        transition: opacity .2s ease-out;
    }
    .tag{
        padding: 4px 8px;
        border: 1px solid var(--teme2-color1);
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
        color: var(--teme3-color4);
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }
    .card_details button{
        border: none;
        padding: 12px 24px;
        border-radius: 50px;
        font-weight: 600;
        color: #0077ff;
        background-color: red;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        transition: opaccity .3s ease-out;
    }
    .card_details{
        padding: 16px 8px 8px 8px;
    }
    .card_details h2{
        width: 100%;
        position: absolute;
        inset: auto auto 30px 0px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        word-break:break-all;
        background: var(--teme3-color4);
        color: var(--teme3-color5);
    }
    .card_details p, a{
        font-family: 'milker';
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-size: 12px;
        word-break:break-all;
    }
    .card_details p{
        inset: auto auto 80px 25px;
    }
    .card_details a{
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }
    &:hover h2{
        inset: auto auto 150px 0px;
        transition: inset .3s ease-out;
        color: var(--teme3-color5);
        background: #16161600;
    }
    &:hover  p, &:hover  a{
        opacity: 1;
        transition: opacity .5s .1s ease-in;
        color: var(--teme3-color5);
    }
    &:hover img{
        transition: opacity .3s ease-in;
        opacity: .1;
    }
}
aside p{
    position: fixed;
    bottom: 40%;
    transform: translateX(-46%) rotate(90deg);
    font-size: 150px;
    font-family: 'Milker';
    mix-blend-mode: difference;
    -webkit-text-stroke: 1px var(--teme3-color1);
    pointer-events: none;
}
.typing-text{
    position: relative;
    height: 30px;
    margin-top: 0px;
    display: inline-block;
    color: var(--teme3-color1);

}

@media (max-width :600px){
    .i-content{
        padding: 20px 0;
    }
    h1{
        font-size: 2.5em;
        line-height: 30px;

    }
    h3{
        font-size: 1.5em;
    }
    .i-left-column{
        padding: 10px;
    }
    header .right-column{
        background-image: url("./img/Daniel_Velasquez-white-mode.webp");
    }
    .right-column{
        padding: 100px 0;
    }
    .social i {
        flex:1;
        min-width: 50px;
        margin: 30px;
    }
    .experience{
        padding: 100px 0px;
    }
    .center-column ul li div{
        width: 300px;
        border: none;
    }
    aside p {
        font-size: 70px;
        bottom: 35vw;
    }
    .aside-nav {
        width: 100%;
        height: auto; 
        position: fixed; 
        bottom: 0; 
        top: auto; 
        right: auto; 
        border-radius: 0; 
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
        mix-blend-mode: luminosity;
    }
    
    .aside-nav button {
        margin: 0; 
        width: auto; 
    }
    .aside-nav i {
        font-size: 24px; 
    }
    .aside-nav section {
        display: none;
        left: -40px;
        top: -40px;
        width: 100px;
        padding: 10px 0;
    }
    .typing-text{
        margin-top: 8px;
    }
    .content{
        padding: 20px 0;
    }
}
@media (max-height: 500px) {
    .aside-nav{
        top: 30vh;
    }
    .aside-nav button {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@keyframes cursor {
    to{
        border-left: 2px solid transparent;
    }
}
@keyframes words {
    0%, 20%{
    content: 'Front-end';
    }
    21%, 40%{
    content: 'Professional';
    }
    41%, 60%{
    content: 'Full Stack';
    }
    61%, 80%{
    content: 'UX';
    }
    81%, 100%{
    content: 'Dessinger';
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}