:root{
    --teme-color1: #05071E;
    --teme-color2: #C6B36C;
    --teme-color3: #cfa713; 
    --teme-color4: #230e6a;
    --teme-color5:#880606; 
    --teme-color6:#d53d0c; 
    --teme-color7: #231d1e;
    --teme-color8: #fcfcfc; 

    --teme2-color1: #021308;
    --teme2-color2: #2F4D3A;
    --teme2-color3: #113B20;
    --teme2-color4: #678270;
    --teme2-color5: #2C342F;
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'Rosewind regular';
    src: url('font/Rosewind-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Milker';
    src: url('font/Milker.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
.dark-mode{
    color: #eee;
    background-color: var(--main-black-color);
}


nav{
    margin: auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 200px;
    height: auto;
    border-radius: 0 0 10px 10px;
}
nav ul{
    text-align: center; 
}
nav h2{
    font-size: 1.5em;
}
#change-color{
    position: fixed;
    top: 0;
    right: 1.1em;
    display: grid;
    text-align: center;
    padding: 5px;
    mix-blend-mode: difference;
    button{
        width: 70px;
        height: 90px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
}
#change-color:hover i{
    transform: scale(0.8);
}
#change-color i {
    font-size: 2em;
    border-radius: 50%;
    mix-blend-mode: lighten;
    width: 10px;
    height: 10px;
    padding: 1em;
    justify-content: center;
    display: grid;
    align-content: center;
    margin-bottom: 5px;
    transition: opacity .1s ease-out;
}
#change-color section{
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    font-family: 'Rosewind regular';
}
.hidden{
    display: none; 
}
.aside-nav {
    width: 40px;
    position: fixed;
    top: 30vh;
    right: 2em;
    border-radius: 20px;
    mix-blend-mode: difference;
    text-align: center;
    display: grid;
    justify-content: center;
    a {
        text-decoration: none;
        margin-bottom: 2em;
        margin-top: 2em;
        mix-blend-mode: difference;
        border: none;
        background: none;
        position: relative;
        display: grid;
        justify-content: center;
      }
    i {
        display: flex;
        font-size: 25px;
        border: none;
        align-items: center;
        height: 30px;
        transition: font-size 0.2s ease-out;
      }
    section {
        position: absolute;
        right: 4em;
        top: 0;
        width: 8em;
        height: auto;
        padding: 10px 8px;
        font-family: 'Rosewind regular';
        white-space:nowrap;
      }

}
a:hover i:before,a.active i{
  transform: scale(1.2);
  display: inline-block;
}
.nav-link:hover .nav-label {
    display: inline-block; 
    font-size: 30px;
    margin: 0px; 
}
.nav-label {
    display: none; 
}
  
.nav-label.visible {
    display: inline-block; 
}

header{
    min-height: 30em;
    position: relative;
}
h1{
    font-family: 'Milker';
    font-size: 5rem;
    line-height: 60px;
    margin-bottom: .1em;
}
h2{
    font-family: 'Rosewind regular';
    font-size: 2em;
}
h3{
    font-family: 'Rosewind regular';
    font-size: 2em;
    line-height: 20px;
}
header .right-column{
    background-image: url("./img/Daniel_Velasquez-white-modexl.webp");
    mask-image: linear-gradient(
        black 80%,transparent
    );
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
    min-width: 300px;
    background-size: contain;
}
.experience{
    text-align: center;
    padding: 5em 10em;
    position: relative;
    flex-wrap: wrap;
}
.center-column ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.center-column ul li{
    list-style-type: none;
    margin-top: 50px;
}
.center-column ul li div{
    position: relative;
    bottom: 0;
    width: 20em;
    height: 12em;
    padding: 15px;
    mix-blend-mode: difference;
}
.exp time{
    font-size: 15px;
}
.exp p{
    font-family: 'Rosewind regular';
}
main{
    padding: 5em 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.i-content{
    padding: 7em;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    pointer-events: none;
}
.content{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    padding: 2em 9em;
}
.left-column{
    flex: 1;
    padding: 30px;
    position: relative;
    min-width: 250px;
    display: grid;
    align-content: center;
}
.left-column p {
    padding-top: 2em;
}
.i-left-column{
    flex:1;
    padding: 20px;
    position: relative;
    display: grid;
    align-content: center;
}
.typing-text::before{
    content: 'Front-end';
    animation: words 20s infinite;
}
.typing-text::after{
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8px;
    top: -6px;
    animation: cursor .6s infinite, typing 20s steps(14) infinite;
}
.social button{
    width: 150px;
    height: 30px;
    font-family: 'Rosewind regular';
    font-size: 20px;
    border: none;
    bottom: -50px;
    mix-blend-mode: difference;
}
.social{
    font-size: 25px;
    right: 180px;
    bottom: -50px;
    text-align: center;
    margin-top: -100px;
    padding-bottom: 20px;
}
.social i{
    margin-right: 30px;
}
.proyects-column{
    flex:2;
    display: flex;
    position: relative;
    min-width: 300px;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}
.right-column{
    flex:2;
    padding: 20px;
    text-align: center;
    min-width: 250px;
    align-content: center;
    display: grid;
}
.card{
    width: 14rem;
    height: 16rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 5px;
    transition: color 0.2s ease-out;

    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        transition: opacity .2s ease-out;
    }
    .tag{
        padding: 4px 8px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }
    .card_details{
        padding: 16px 8px 8px 8px;
    }
    .card_details h2{
        width: 100%;
        position: absolute;
        inset: auto auto 30px 0px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        word-break:break-all;
    }
    .card_details p, a{
        font-family: 'milker';
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-size: 12px;
    }
    .card_details p{
        inset: auto auto 40% 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .card_details a{
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }
    &:hover h2{
        inset: auto auto 85% 0px;
        transition: inset .3s ease-out;
        background: #16161600;
    }
    &:hover  p, &:hover  a{
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }
    &:hover img{
        transition: opacity .3s ease-in;
        opacity: .1;
    }
}
.little-card{
    max-width: 10rem;
    height: 10rem;
    .card_details h2{
        font-size: 1em;
    }
    .card_details p{
        inset: auto auto 40% 25px;
    }
}
.card-active{
    width: 30rem;
    height: 21.9rem;
    cursor: auto;
    .card_details p{
        inset: auto auto 30% 25px;
        white-space:unset;
        text-overflow:unset;
        overflow:auto
    }
}
aside p{
    position: fixed;
    bottom: 40%;
    transform: translateX(-46%) rotate(90deg);
    font-size: 150px;
    font-family: 'Milker';
    mix-blend-mode: difference;
    pointer-events: none;
}
.typing-text{
    position: relative;
    height: 30px;
    margin-top: 0px;
    display: inline-block;
    width: fit-content;

}
  .CV-secondaryHeading {
    position: relative;
    margin: 0 0 2em;
    text-transform: uppercase;
  }
  .CV-timeline {
    position: relative;
    margin: 0 0 0 0.5em;
    padding-left: 1.5em;
    border-left: solid 1px var(--teme-color3);
    text-align: initial;
  }
  
  .CV-timeline:last-of-type {
    border-left-color: transparent;
  }
  
  .CV-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--teme-color6);
    border-radius: 50%;
  }
  
  .CV-timeline-heading {
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
    font-weight: normal;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
  
  .CV-timeline-heading-title {
    line-height: 1;
    color: var(--teme-color3);
    font-style: italic;
    text-transform: uppercase;
  }
  
  .CV-timeline-heading-location {
    font-size: 0.9em;
  }
  
  .CV-timeline-heading-duration {
    display: block;
    font-size: 0.8em;
    color: var(--teme2-color2);
  }
  
  .CV-timeline-details {
    display: block;
    margin: 0;
    padding-bottom: 2em;
    padding: 0 0 2em 1em;
    list-style: none;
  }
  
  .CV-timeline-details-item {
    margin-bottom: 0.5em;
  }
  
[data-theme="light"] {
    .left-column p, .card_details p, h2{
        color:var(--teme-color8);
    }
    #change-color i:hover{
        color: var(--teme-color3);
    }
    .white-mode{
        color: var(--teme-color1);
        background-color: var(--teme-color3);
    }
    header, .typing-text::after{
        background: var(--teme-color3);
    }
    .typing-text{
        color: var(--teme-color5);
    }
    .social{
        color: var(--teme-color6);
    }
    .social button{
        color: var(--teme3-color3);
        background-color: var(--teme-color5);
    }
    header .right-column{
        background-image: url(./img/Daniel_Velasquez-white-modexl.webp);
    }
    .experience{
        background: var(--teme-color1);
        color:var(--teme-color8);
    }
    aside .a {
        text-shadow: -1px -1px var(--teme2-color3), 1px 1px var(--teme-color5);
        mix-blend-mode: exclusion;
    }
    aside .b {
        text-shadow: 2px 2px var(--teme2-color3), -2px -1px var(--teme-color1);
        mix-blend-mode: difference;
    }
    .aside-nav{
        background:var(--teme-color7);
    }
    .aside-nav a{
        color: var(--teme-color3);
    }
    .aside-nav section{
        background: var(--teme-color5);
    }
    a:hover i::before, a.active i{
        color: var(--teme-color6);
    }
    .social a{
        color: var(--teme-color8);
    }
    #change-color section{
        color: var(--teme-color2);
    }
    #change-color i{
        background: var(--teme-color7);
        color: var(--teme-color1);
    }
    #change-color:hover i:before{
        color:var(--teme-color3);
    }
    main{
        background: var(--teme-color2);
    }
    .card_details h2{
        background-color:var(--teme-color2);
    }
    main-i{
        background: var(--teme-color4);
    }
    @media (max-width :600px){
        header .right-column{
            background-image: url(./img/Daniel_Velasquez-white-mode.webp);
        }
    }
}
[data-theme="dark"] {
        nav{
            border-bottom: 1px solid var(--teme-color3);
            border-left: 1px solid var(--teme-color3);
            border-right: 1px solid var(--teme-color3);
        }
        .left-column p, .card_details p, h2{
            color:var(--teme-color8);
        }
        .white-mode{
            color:var(--teme-color8);
        }
        header, .typing-text::after{
            background-color: var(--teme2-color1);
        }
        .typing-text{
            color: var(--teme-color6);
        }
        .social{
            color: var(--teme-color8);
        }
        .social button{
            background-color: var(--teme-color3);
        }
        header .right-column{
            background-image: url(./img/Daniel_Velasquez-dark-modexl.webp);
        }
        .experience{
            background-color: var(--teme2-color5);
            color:var(--teme-color8);
        }
        aside p {
            -webkit-text-stroke: 1px var(--teme-color6);
            mix-blend-mode: lighten;
        }
        .aside-nav{
            background-color: var(--teme2-color2);
        }
        .aside-nav a{
            color: var(--teme-color8);
        }
        .aside-nav section{
            background-color: var(--teme-color6);
        }
        a:hover i::before, a.active i{
            color: var(--teme-color3);
        }
        .social a{
            color: var(--teme-color8);
        }
        .social button{
            color:var(--teme2-color3);
            background-color: var(--teme-color2);
        }
        #change-color section{
            color: var(--teme-color8);
        }
        #change-color i{
            background-color: var(--teme2-color2);
            color:var(--teme-color);
        }
        #change-color:hover i:before{
            color:var(--teme-color3);
        }
        .card_details h2{
            background-color:var(--teme-color7);
        }
        .card &:hover h2{
            color:red;
        }
        main{
            background-color: var(--teme-color7);
        }
        main-i{
            background-color: var(--teme2-color3);
        }
        @media (max-width :600px){
            header .right-column{
                background-image: url(./img/Daniel_Velasquez-dark-mode.webp);
            }
        }
}

@media (min-width: 1400px) {
    h1{
        font-size: 6em;
        line-height: .7em;

    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2em;
    }
    .right-column{
        margin: 100px 0px;
    }
    .social{
        margin-right: 200px;
    }
    .social i {
        min-width: 100px;
        margin: 0px;
        font-size: 2em;
    }
    .social button{
        font-size: 1.5em;
        padding: 10px;
        width: auto;
        height: auto;
    }
    .experience{
        padding: 100px 10em;
    }
    .center-column ul li div{
        width: 350px;
        border: none;
    }
    aside p {
        font-size: 8em;
        bottom: 30vw;
    }
    .i-content{
        padding: 0 100px;
    }
    header .right-column{
        height: 40em;
    }
    .aside-nav{
        width: 4em;
        border-radius: 50em;
        mix-blend-mode: luminosity;
    }
    .aside-nav i{
        font-size: 3em;
    }
    a:hover i:before,a.active i{
        font-size: 60px; 
    }
    .aside-nav section {
        display: none;
        left: -230px;
        top: -10px;
        width: 200px;
        padding: 10px 0;
        font-size: 2em;
    }
    #corrupto{
        top: 10px;
    }

}
@media (max-width :600px){
    .i-content{
        padding: 20px 0;
    }
    h1{
        font-size: 2.5em;
        line-height: 33px;

    }
    h3{
        font-size: 1.5em;
    }
    .i-left-column{
        padding: 10px;
    }
    header .right-column{
        background-image: url("./img/Daniel_Velasquez-white-mode.webp");
    }
    .right-column{
        padding: 100px 0;
    }
    .social i {
        flex:1;
        min-width: 50px;
        margin: 30px;
    }
    .experience{
        padding: 100px 0px;
    }
    .CV-jobs{
        margin: 0px 50px
    }
    .card-active{
        min-width: 17rem;
        height: 15rem;
    }
    .little-card{
        min-width: 5rem;
        height: 5rem;
    }
    .left-column{
        padding: 30px 50px;
    }
    .center-column ul li div{
        width: 300px;
        border: none;
    }
    aside p {
        font-size: 70px;
        bottom: 80vw;
    }
    .aside-nav {
        width: 100vw;
        height: auto; 
        position: fixed; 
        bottom: 0; 
        top: auto; 
        right: auto; 
        border-radius: 0; 
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
        mix-blend-mode: luminosity;
    }
    
    .aside-nav a {
        margin: 0; 
        width: auto; 
    }
    .aside-nav i {
        font-size: 24px; 
        margin: 10px 0;
    }
    .aside-nav section {
        display: none;
        left: -45px;
        top: -50px;
        width: 120px;
        padding: 10px 0;
    }
    .typing-text{
        margin-top: 8px;
    }
    .content{
        padding: 20px 0;
    }
    #change-color button{
        transform: scale(0.8);
        top: 12px;
        right: -25px;
    }
}

@media screen and (min-width: 700px) {
    .proyects-column{
        min-width: 500px;
    }
}
    


@keyframes cursor {
    to{
        border-left: 2px solid transparent;
    }
}
@keyframes words {
    0%, 20%{
    content: 'Front-end';
    }
    21%, 40%{
    content: 'Professional';
    }
    41%, 60%{
    content: 'Full Stack';
    }
    61%, 80%{
    content: 'UX';
    }
    81%, 100%{
    content: 'Dessinger';
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}